exclude .gitignore
exclude .pre-commit-config.yaml
prune .github

# these are redundant, as setuptools-scm includes everything in the git repo
include LICENSE.txt README.md CHANGES.md
include tox.ini
recursive-include tests *.py
