name: Tests

on:
  workflow_call:
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows
  workflow_dispatch:

jobs:
  tests:
    name: Python ${{ matrix.python }} ${{ matrix.os }} ${{ matrix.container-image }}
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    container: ${{ matrix.container-image }}
    strategy:
      fail-fast: false
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14", pypy3.8, pypy3.11]
        include:
          - {python: "3.7", os: ubuntu-22.04, tox3: true}
          - {python: pypy2.7, tox3: true}
          - {python: "2.7", tox3: true, container-image: "python:2.7-buster"}
          - {python: "3.6", tox3: true, container-image: "python:3.6-bullseye"}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      if: ${{ ! matrix.container-image }}
      id: setup-python
      with:
        python-version: ${{ matrix.python }}

    - run: python -m pip install --upgrade pip setuptools
    - name: Install tox4
      run: pip install tox
      if: ${{ ! matrix.tox3 }}
    - name: Install tox3
      run: pip install 'tox<4' 'virtualenv<20.22.0'
      if: ${{ matrix.tox3 }}

    - name: Compute tox env name
      run: |
        toxenv=$(python -c '
        ver=r"${{ matrix.python }}".replace(".", "")
        print("py" + ver if ver[0].isdigit() else ver)
        ')
        echo toxenv is "$toxenv";
        echo "TOXENV=$toxenv" >> "$GITHUB_ENV"

    - name: Test with tox
      run: tox

    - uses: actions/upload-artifact@v4
      with:
        name: coverage-data-${{ matrix.python }}
        path: .coverage.*
        include-hidden-files: true

  coverage:
    needs: [tests]
    if: ${{ success() || failure() }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/download-artifact@v4
      with:
        pattern: coverage-data-*
        merge-multiple: true
    - run: python -m pip install tox
    - run: tox -e cover-report

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: python -m pip install pre-commit tox
    - run: pre-commit run -a
    - run: tox r -e lint
      if: ${{ success() || failure() }}

  build:
    name: Build python package
    needs: [coverage, lint]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - run: python -m pip install --upgrade pip
    - run: python -m pip install build
    - run: python -m build .
    - uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/
        retention-days: 1       # save money
